.App {
  background-color: #292929;
  height: auto;
  position: relative;
}

.contact{
  background-color: #464749;
  padding: 10px;
  height: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: space-around;
}

.about{
    font-size: 25px;
    font-family:  "Playwrite FR Trad", cursive;
    margin: 0;
    padding: 10px;
    color: #6998F9;
}

span{
  color: #ffff;
}

@media screen and (min-width:500px) {
  .about{
    padding-left: 15%;
    padding-right: 15%;
  }
}